<!-- Footer -->
    <footer class="footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5>Biblioteca Virtual</h5>
                    <p>Sua plataforma para organizar e acompanhar suas leituras.</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <h5>Navegação</h5>
                    <ul class="footer-links">
                        <li><a href="/pages/pagina-inicial/">Início</a></li>
                        <li><a href="/pages/pagina-login/">Entrar</a></li>
                        <li><a href="/pages/pagina-cadastro/">Cadastrar</a></li>
                        <li><a href="/pages/pagina-estante/">Minha Estante</a></li>
                        <li><a href="/pages/pagina-cadastro-livro/">Cadastrar Livro</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Categorias</h5>
                    <ul class="footer-links">
                        <li><a href="#">Romance</a></li>
                        <li><a href="#">Ficção Científica</a></li>
                        <li><a href="#">Fantasia</a></li>
                        <li><a href="#">Biografia</a></li>
                        <li><a href="#">História</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Contato</h5>
                    <ul class="footer-links">
                        <li><a href="#">Central de Ajuda</a></li>
                        <li><a href="#">Fale Conosco</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; 2025 Biblioteca Virtual. Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>
